node_modules/
dist/
release/
out/
build/
.vite/
*.tsbuildinfo
*.log
coverage/
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.blockmap
*.AppImage
*.dmg
*.exe
*.msi
*.deb
*.rpm
*.snap
*.7z
*.zip
*.tar.gz
builder-debug.yml
builder-effective-config.yaml
